#OS
.metadata
.metadata/*
/.metadata
/.metadata/*
.recommenders
.recommenders/*
/.recommenders
/.recommenders/*
*.class
# *.classpath
# /**/.classpath
bin
bin/*
build
build/*
dist
dist/*
/.metadata/
/.recommenders/
MultiCubeVision/.classpath
ElevatorTest/.classpath
